* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-section {
  display: flex;
}

#box {
  border: 1px solid #222;
}

.menu-item ul li {
  list-style: none;
  font-weight: bold;
}

.main-section h1 {
  margin: 20px 0;
  padding: 0 10px;
  font-size: 2rem;
  color: rgb(255, 115, 0);
}

.info-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* max-width: 100%; */
  margin: 10px 0;
}

.chart-items {
  display: flex;
  justify-content: space-around;
}

.item {
  /* border: 1px solid #222; */
  margin: 10px 0;
}
.item ul {
  width: 300px;
}
.headline {
  border: 1px solid #222;
  width: 300px;
}

@media screen and (max-width: 600px) {
}
